:root {
  --font-family: 'DotGothic16', sans-serif;

  --background-color: #000;
  --font-color: #fff;
  --border-color: #fff;
  --font-color-secondary: #aaa;
  --link-color: #ffff00;
  --link-active-color: #ff0000;
  --link-hover-color: #ffff7f;
}

html,
body {
  font-family: var(--font-family);
  margin: 0;
  color: var(--font-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }

  &:active {
    color: var(--link-active-color);
  }
}
